<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Policlinica</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-page="/Index">
                    <img src="~/img//logo-100.jpg" />
                    Policlinica GreenLife
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Pagina Principala</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Servicii">Servicii</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Medici">Medici</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-page="/Pacienti">Pacienti</a>
                        </li>
                        <!-- Dropdown -->
                        @if (User.Identity.IsAuthenticated && (User.IsInRole("Medic") || User.IsInRole("Admin")))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    Administrare
                                </a>
                                <div class="dropdown-menu">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a class="dropdown-item" asp-page="/Admin/UpsertDepartament">Administrare departamente</a>
                                        <a class="dropdown-item" asp-page="/Admin/UpsertMedici">Administrare personal medical</a>
                                    }

                                    <a class="dropdown-item" asp-page="/Admin/UpsertPacienti">Administrare pacienti</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>





                <div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-info" asp-page="/Admin/Logout">Logout @User.Identity.Name</a>
                    }
                    else
                    {
                       <a class="btn btn-primary" asp-page="/Admin/Login">Login</a>
                    }
                </div>

            </div>
        </nav>
    </header>
       @RenderBody()
    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2020 - Policlinica GreenLife - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
