@page
@using Policlinica.Models
@model Policlinica.Pages.PacientiModel
@{
    ViewData["Title"] = "Pacienti";
}
<div>
<h1 class="text-center">Pacienti</h1>
</div>
<div class="container-fluid">
    <div class="row">
        @if (Model.Pacient != null)
        { 
            
            <table class="table table-striped" style="width:500px">
                <thead>
                    <tr>
                        @foreach (var item in Model.Pacient.Columns)
                        {
                            <td>
                                @item.ToString()
                            </td>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (System.Data.DataRow rand in Model.Pacient.Rows)
                    {
                        <tr>
                            @foreach (var col in rand.ItemArray)
                            {
                                <td>
                                    @col.ToString()
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h1 class="text-danger">Eroare de preluare a datelor</h1>
        }
    </div>
</div>
