@page
@using Policlinica.Models
@model Policlinica.Pages.PacientiModel
@{
    ViewData["Title"] = "Pacienti";
}

<h1>Pacienti</h1>
<div class="container-fluid">
    <div class="row">
        @foreach (Pacient p in Model.Pacienti)
        {
        <div class="col-xs-12 col-md-6">
            <h5>Nume si Prenume:@p.NUME @p.PRENUME</h5>
            <p>CNP:@p.CNP</p>
            <p>Data nasterii:@p.DATA_NASTERII</p>
            <p >Asigurare medicala: @p.ASIGURARE_MEDICALA</p>
        </div>
        }
    </div>
</div>
