@page
@using System.Data
@model Policlinica.ServiciiModel
@{
    ViewData["Title"] = "Servicii";
}
<div>
<h1 class="text-center" >Servicii</h1>
 </div>
<div class="container-fluid">
    <div class="row">
            @if (Model.Dep !=null)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                        @foreach( var item in Model.Dep.Columns)
                        {
                            <td>
                                @item.ToString()
                            </td>
                        }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow rand in Model.Dep.Rows)
                        {
                            <tr>
                            @foreach (var cell in rand.ItemArray)
                            {
                                <td>
                                    @cell.ToString()
                                </td>
                            }
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h1 class="text-danger">Eroare de preluare a datelor</h1>
            }
    </div>
</div>
